name: Build App

on:
    push:
        branches:
        - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: build-push
          uses: docker/build-push-action@v1
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
            registry: docker.io
            repository: ${{ secrets.DOCKER_USERNAME }}/cd
            tag_with_sha: true
        - name: SonarCloud Scan
          run: mvn -B verify sonar:sonar -Dsonar.projectKey=3r1co_cd2021 -Dsonar.organization=3r1co-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
